# Live Polling Application - Backend Configuration
PORT=8080
MONGO_URI=mongodb://127.0.0.1:27017
DB_NAME=livepolling
REDIS_URL=127.0.0.1:6379
JWT_SECRET=super_secret_jwt_key_guvi_live_polling_2026
FRONTEND_URL=http://localhost:5173
